<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{% block title %}Test Page To CBI{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="majestic-site-verification" content="MJ12_c600886f-1c05-4632-8830-c138035cdaa3">

{#    <link rel="shortcut icon" href="{{ asset('public/img/favicon/favicon.ico') }}" type="image/x-icon">#}

    {% include "::meta-header.html.twig" %}


    {% block styles %}{% endblock %}
</head>
{% block mainBody %}
<body>


        {{ include('::header.html.twig') }}
        {% block body %}
        {% endblock %}
        {{ include('::footer.html.twig') }}

    {#</div>#}
</body>
{% endblock %}
{{ include('::meta-footer.html.twig') }}
{% block scripts %}
{% endblock %}
</html>